<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pm2.5 資訊</title>
    <style>
        body {
            font-family: 標楷體;
            background-color: antiquewhite;
            text-align: center;
        }

        table {
            width: 60%;
            margin: 0 auto;
        }

        th {
            background-color: aqua;
        }

        td {
            background-color: rgb(64, 224, 109);
        }

        @media screen and (max-width : 1024px) {
            table {
                width: 90%;
            }
        }
    </style>
</head>

<body>
    <h1>全省PM2.5 資訊</h1>
    <h3 style="color : blue">目前時間:{{data["today"]}}</h3>
    <table border="1">
        <thead>
            <tr>
                {% for th in data["columns"] %}
                <th>{{th}}</th>
                {% endfor %}
            </tr>

        </thead>
        <tbody>
            {% for tr in data["values"] %}
            <tr>
                {% for td in tr %}
                <td>{{td}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>

    </table>
    {{data["columns"]}}
    {{data["values"]}}
</body>

</html>